@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

@import "tailwindcss";

body {
  background-color: #050505;
  color: white;
  font-family: 'Inter', sans-serif;
}

.hex-logo {
  clip-path: polygon(
    25% 6%, 75% 6%,
    100% 50%,
    75% 94%, 25% 94%,
    0% 50%
  );
  border: 2px solid rgba(34, 211, 238, 0.6);
  padding: 4px;
}
